{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
                        <span>Dashboard</span>
                        <a class="d-flex align-items-center text-muted" href="">
                            <span data-feather="monitor"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard.show_dashboard') }}">
                                <span data-feather="home"></span>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard.show_balance') }}">
                                <span data-feather="dollar-sign"></span>
                                Balance
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard.show_buy') }}">
                                <span data-feather="plus-square"></span>
                                Buy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('dashboard.show_sell') }}">
                                <span data-feather="minus-square"></span>
                                Sell
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard.show_lookup') }}">
                                <span data-feather="search"></span>
                                Lookup
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard.show_quote') }}">
                                <span data-feather="bar-chart-2"></span>
                                Quote
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard.show_portfolio') }}">
                                <span data-feather="folder"></span>
                                Portfolio
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>About Me</span>
                        <a class="d-flex align-items-center text-muted" href="">
                            <span data-feather="heart"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.matthewmuccio.com/" target="_blank">
                                <span data-feather="rss"></span>
                                Website
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.linkedin.com/in/matthewmuccio/" target="_blank">
                                <span data-feather="linkedin"></span>
                                LinkedIn
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/matthewmuccio" target="_blank">
                                <span data-feather="github"></span>
                                GitHub
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mailto:me@matthewmuccio.com" target="_blank">
                                <span data-feather="mail"></span>
                                Email
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Sell</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <!--<div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Share</button>
                            <button class="btn btn-sm btn-outline-secondary">Export</button>
                            </div>
                            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                            </button>-->
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}